/* inline styles */
.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-title {
}

.nav ul {
  border-top: 1px solid #ddd;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-bottom: 10px;
}

.nav a {
  color: #337ab7;
  text-decoration: none;
  padding: 10px 35px;
  display: block;
  background-color: transparent;
  border-radius: 0;
}

.nav a:hover {
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1;
  margin-left: 120px; /* add margin to main content */
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.body {
  padding: 20px;
}

.gallery-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 85vw;
  height: 90vh;
  padding: 20px;
  overflow-x: hidden;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 20px;
  width: 100%;
  height: 100%;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredient-name-large {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.expiry-date-large {
  font-size: 18px;
  color: #666;
  margin: 0;
}

.gallery-img-large {
  width: 120px;
  height: 120px;
}

.fridge {
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  clear: both;
}

.carousel {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-item.active {
  transform: translateX(0) !important;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
}

.carousel-control.prev {
  left: 0;
}

.carousel-control.next {
  right: 0;
}

.item {
  margin: 0px;
}

.recipe-image {
  width: 50%;
  height: auto;
}
