/* inline styles */
.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-title {
}

.nav ul {
  border-top: 1px solid #ddd;
  margin-top: ;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-bottom: 10px;
}

.nav a {
  color: #337ab7;
  text-decoration: none;
  padding: 10px 35px;
  display: block;
  background-color: transparent;
  border-radius: 0;
}

.nav a:hover {
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1;
  margin-left: 120px; /* add margin to main content */
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.body {
  padding: 20px;
}

.gallery-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.ingredients-column,
.expiry-column {
  width: 45%;
}

.gallery-item,
.expiry-item {
  margin-bottom: 20px;
}

.gallery-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.ingredients-column h2,
.expiry-column h2 {
  margin-bottom: 10px;
}

.gallery-item {
  display: flex;
  align-items: center;
}

.gallery-item p {
  margin-top: 5px;
}

.expiry-item p {
  margin: 5px 0;
}

.fridge {
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  clear: both;
}

.carousel {
  position: relative;
  max-width: 1000px; 
  margin: auto;
  overflow: hidden; 
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out; 
}

.carousel-item {
  min-width: 20%; 
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.carousel img {
  width: 100%; 
  height: auto;
  border-radius: 8px;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10; 
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
